<div class="projects">
  <h2>Mis Proyectos Personales</h2>
  <ul>
    <li><a href="[enlace a tu proyecto]">Proyecto 1</a></li>
    <li><a href="[enlace a tu proyecto]">Proyecto 2</a></li>
  </ul>
</div>
